.contact-wrap {
  width: 100%;
  padding: 80px 0px;
  background-image: url("../../img/wrapper-section-01.png");
}

.contact-container {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.contact-info {
  padding: 70px 50px;
  border-radius: 5px;
  text-align: left;
  background-color: #70707026;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-info h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-info p {
  color: #707070;
  font-size: 15px;
  text-transform: capitalize;
}

.contact-info h5 {
  font-weight: 600;
}

.get-touch {
  text-align: left;
  padding: 20px 20px;
}

.line {
  width: 100px;
  padding: 1px;
  background-color: #d22e2e;
  margin-bottom: 5px;
}

.get-touch p {
  color: #707070;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  background-color: #70707026;
  border: none;
  border-radius: 5px;
}
