.registration-wrapper {
  padding: 80px 0px;
  background-image: url("../../img/wrapper-section-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-container {
  width: 500px;
  margin: 0 auto;
}

.register-form {
  width: 100%;
  margin: 20px 15px;
}
.register-form input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #70707026;
}

.go-login {
  font-size: 15px;
  text-align: right;
  color: grey;
}
